{
    "presets": [
        "react",
        "env",
        "stage-0",
        "@babel/preset-env",
        "@babel/preset-react",
        "babel-preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}